<div class="row">
  <div class="col-md-4 mt-5" *ngFor="let mountain of mountains">
    <div class="card text-justify">
      <div class="card-header bg-dark d-flex align-items-center justify-content-between">
        <h4 class="text-white my-3">{{mountain.name}}</h4>
        <button  class="btn btn-danger" (click)="deleteMountain(mountain.id)"><i class="far fa-trash-alt"></i></button>
      </div>
      <img [src]="mountain.image" alt="Mountain image" class="card-img-top" *ngIf="mountain.image">
      <div class="card-body">
        <p><strong>Height</strong>: {{mountain.height}}</p>
        <p><strong>Location</strong>: {{mountain.location}}</p>
        <ng-template [ngIf]="mountain.description">
          <hr>
          <h5>Description</h5>
          <p>{{mountain.description}}</p>
        </ng-template>
      </div>
      <a [routerLink]="['/mountains/edit', mountain.id]" class="btn btn-info btn-block">Update Mountain</a>
    </div>
  </div>
</div>