<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- Left -->
  <a class="navbar-brand ml-5 text-uppercase" routerLink="/">monhui</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Right -->
  <div class="collapse navbar-collapse d-flex justify-content-end mr-4" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/mountains" routerLinkActive="active"><i class="fas fa-mountain."></i> Mountains</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mountains/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i> Add
          mountain</a>
      </li>
    </ul>
  </div>
</nav>
